## Importing the Prerequisites

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## Getting the HTML link for website

**From HTML File , We want the Movie name Part**

In [ ]:
try:
    response = requests.get('https://www.imdb.com/chart/top/')
    response.raise_for_status()
    
    soup = BeautifulSoup(response.text, 'html.parser')
    print(soup)
    
except Exception as e:
        print (e)

**To view the data fetched exactly 250 rows**

In [54]:

movies = soup.find('tbody', class_ = "lister-list").find_all('tr')
print(len(movies)) #to accessing the top 250 movies page , Check the length

250

**To extract the Titles(name) of Movies**

In [55]:
for movie in movies:
    name = movie.find('td',class_ = "titleColumn").a.text
    print(name)
    break

The Shawshank Redemption



**To extract the Year of the Movie Released**

In [57]:
for movie in movies:
    year = movie.find('td',class_ = "titleColumn").span.text.strip("()")
    print(year)
    break

1994

**To Extract the IMDb rating**

In [58]:
for movie in movies:
    rating = movie.find('td',class_ = "ratingColumn imdbRating").strong.text
    print(rating)
    break

9.2

**To print everything at one place**

In [68]:
print(  name , year, rating)

The Iron Giant 1999 8.0

**Create an empty array to store the details**

In [69]:
TitleName=[]
Year=[]
Rating=[]

**To print the 250 Movies**

In [79]:
for movie in movies:
    
    name = movie.find('td',class_ = "titleColumn").a.text
    
    year = movie.find('td',class_ = "titleColumn").span.text.strip("()")
    
    rating = movie.find('td',class_ = "ratingColumn imdbRating").strong.text
    
    ##Using append we store the small print within the Array weâ€™ve created before
    
    
    TitleName.append(name)
    Year.append(year)
    Rating.append(rating)
    
    df=pd.DataFrame({'Title' : TitleName,'year':Year,'Rating':Rating})
    
    df.to_csv('IMDbRating.csv', index=False, encoding='utf-8')

In [80]:
df.head()

                      Title  year Rating
0  The Shawshank Redemption  1994    9.2
1             The Godfather  1972    9.2
2           The Dark Knight  2008    9.0
3     The Godfather Part II  1974    9.0
4              12 Angry Men  1957    8.9