## Importing the Prerequisites

In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## Getting the HTML link for website

**From HTML File , We want the Movie name Part**

In [ ]:
try:
    response = requests.get('https://www.imdb.com/chart/top/')
    response.raise_for_status()
    
    soup = BeautifulSoup(response.text, 'html.parser')
    print(soup)
    
except Exception as e:
        print (e)

**To view the data fetched exactly 250 rows**

In [29]:

movies = soup.find('tbody', class_ = "lister-list").find_all('tr')
print(len(movies)) #to accessing the top 250 movies page , Check the length

250

**To extract the Titles(name) of Movies**

In [30]:
for movie in movies:
    name = movie.find('td',class_ = "titleColumn").a.text
    print(name)
    break

The Shawshank Redemption

**To extract the rank of the Title**

In [31]:
for movie in movies:
    rank = movie.find('td',class_ = "titleColumn").get_text(strip=True).split('.')[0]
    print(rank)
    break

1

**To extract the Yaer of the Movie Released**

In [32]:
for movie in movies:
    year = movie.find('td',class_ = "titleColumn").span.text.strip("()")
    print(year)
    break

1994

**To Extract the IMDb rating**

In [33]:
for movie in movies:
    rating = movie.find('td',class_ = "ratingColumn imdbRating").strong.text
    print(rating)
    break

9.2

**To print everything at one place**

In [34]:
print( rank , name , year, rating)

1 The Shawshank Redemption 1994 9.2

**Create an empty array to store the details**

In [35]:
Rank=[]
TitleName=[]
Year=[]
Rating=[]

**To print the 250 Movies**

In [41]:
for movie in movies:
    
    name = movie.find('td',class_ = "titleColumn").a.text
    
    rank = movie.find('td',class_ = "titleColumn").get_text(strip=True).split('.')[0]
    
    year = movie.find('td',class_ = "titleColumn").span.text.strip("()")
    
    rating = movie.find('td',class_ = "ratingColumn imdbRating").strong.text
    
    ##Using append we store the small print within the Array weâ€™ve created before
    
    Rank.append(rank)
    TitleName.append(name)
    Year.append(year)
    Rating.append(rating)
    
    df=pd.DataFrame({'Rank' : rank, 'Title' : TitleName,'year':Year,'Rating':Rating})
    
    df.to_csv('IMDbRatings.csv', index=False, encoding='utf-8')

In [42]:
df.head()

  Rank                     Title  year Rating
0  250  The Shawshank Redemption  1994    9.2
1  250  The Shawshank Redemption  1994    9.2
2  250             The Godfather  1972    9.2
3  250           The Dark Knight  2008    9.0
4  250     The Godfather Part II  1974    9.0